img {
  border-radius: 50% 50% 50% 50%;
  display: inline;
  height: 200px;
  width: 200px;
}
header {
  background-color: rgb(238, 0, 255);
  font-style: italic;
  font-size: 1cm;
  height: 7cm;
}
main {
  background-color: blue;
  font-style: italic;
  font-size: 1cm;
  height: 6cm;
}
footer {
  background-color: black;
  font-size: 1cm;
  font-style: italic;
  height: 7cm;
}
