body {
  width: 1200px;
  height: 200px;
}
header {
  background-color: rgb(254, 3, 3);
  height: 200px;
}
main {
  display: flex;
  background-color: violet;
  width: auto;
  height: 600px;
}
aside {
  background-color: black;
  width: auto;
  height: 200px;
}

footer {
  background-color: blue;
  width: auto;
  height: 150px;
}
.cuadro {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: darkgoldenrod;
}
